<?php
// Database settings
$host = 'localhost'; // Host where MySQL database resides; localhost for most cases
$db_username = 'db_username'; // Database username 
$db_password = 'db_password'; // Database password 
$db_name = 'db_name'; // Name of database

// FTP settings
$ftp_server = 'localhost'; // FTP server address (exclude ftp://); localhost for most cases
$ftp_username = 'ftp_username'; // FTP server username
$ftp_password = 'ftp_password'; // FTP server password

// Logo
$settings['logo'] = 'http://example/logo.png';

// URL of CMS (without http://)
$settings['url'] = 'http://example.com/path/to/cms';

// Agree before entering the site
$settings['agree_page'] = 1;

// Site maintenance
$settings['force_block'] = 0;

// Email address
$settings['email'] = 'email@example.com';

// Reply email for automated messages
$settings['replyemail'] ='noreply@example.com';

// Universal layout
$settings['text_style'] = 0;

// Default theme
$settings['theme'] = 'default';

// Allow theme changes by users
$settings['theme_change'] = 1;

// Inbox limit for basic members
$settings['inbox_limit_member'] = 100;

// Inbox limit for regular members
$settings['inbox_limit_webjk'] = 500;

// Inbox limit for administrators
$settings['inbox_limit_admin'] = 'unlimited';

// Path to user files
$settings['files_path'] = '/path/to/store/files/';

// Allow members to post comments in News and Updates page
$settings['comments'] = 1;

// Default images per page in gallery
$settings['img_per_pg'] = 16;

// Maximum image upload size (in MB)
$settings['img_size'] = 128;

// Maximum quantity of images
$settings['img_qnty'] = 'unlimited';
?>
