<?php
// Site maintenance
$settings['maintenance'] = false;

// Database settings
$db_host = 'localhost'; // Host where MySQL database resides; localhost for most cases
$db_username = 'db_username'; // Database username 
$db_password = 'db_password'; // Database password 
$db_name = 'db_name'; // Name of database

// FTP settings
$ftp_server = 'localhost'; // FTP server address (exclude ftp://); localhost for most cases
$ftp_username = 'ftp_username'; // FTP server username
$ftp_password = 'ftp_password'; // FTP server password

// Logo
$settings['logo'] = 'http://example/logo.png';

// URL of CMS (without http://)
$settings['url'] = 'http://example.com/path/to/cms';

// Agree before registering for site
$settings['agree_page'] = true;

// Email address
$settings['email'] = 'email@example.com';

// Reply email for automated messages
$settings['replyemail'] ='noreply@example.com';

// Universal layout
$settings['text_style'] = false;

// Default theme
$settings['theme'] = 'default';

// Allow users to choose own theme
$settings['allow_theme_change'] = true;

// Inbox limit for members (in MB)
$settings['inbox_limit_member'] = 50;

// Inbox limit for administrators
$settings['inbox_limit_admin'] = 'unlimited';

// Path to user files
$settings['files_path'] = '/path/to/store/files/';

// Allow members to comment on posts
$settings['comments'] = true;

// Default images per page in gallery
$settings['img_per_pg'] = 50;

// Maximum image upload size (in MB)
$settings['img_size'] = 5;

// Maximum quantity of images
$settings['img_qnty'] = 'unlimited';
?>
